.section {
  max-width: 1024px;
  padding: 20px;
  /* margin-right: auto; */
  /* margin-left: auto; */
  /* text-align: center; */
}

h1 {
  text-align: center;
}

input {
  border: 2px solid #4169e1;
  border-radius: 3px;
  outline: none;
}
